@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    color: rgb(51, 51, 51);
}

button {
    font-family: "poppins", sans-serif;
}

.colors {
    min-height: 80vh;
    display: flex;
}

.color {
    min-height: 80vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.color h2 {
    font-size: 2rem;
    cursor: pointer;
}

.adjustment {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    background: white;
    padding: 1rem;
    width: 80%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    pointer-events: none;
    /* Add Adjustment Class Later */
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
}


.adjustment__close {
    position: absolute;
    top: 0%;
    right: 0;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.controls {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 20vh;
}

.library__btn,
.generate__btn,
.save__btn,
.save__popup--close,
.save__popup--submit,
.library__popup--close {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(31, 33, 63);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}

.save__popup--close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    background: black;
    font-weight: bold;
}

.library__text,
.generate__text,
.save__text {
    font-size: 1.2rem;
}

.library,
.generate,
.save {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adjust,
.lock {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    margin: 2rem 0rem;
}

/* Slider Adjustments Styling */
input[type="range"] {
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}

/* Functionality in Chrome */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    background: white;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
}

/* Copy to Clipboard */
.copy__container,
.save__container,
.library__container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.copy__popup,
.save__popup,
.library__popup {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    transform: all 0.5s ease;
    transform: translateY(-2rem);
    min-width: 30%;
    min-height: 30vh;
}

.copy__popup--text,
.copy__popup--icon,
.library__popup--text {
    font-size: 2rem;
    padding: 2rem;
}

.save__popup--text {
    font-size: 1.8rem;
    padding: 2rem;
}

.copy__container.active,
.save__container.active,
.library__container.active {
    opacity: 1;
    pointer-events: all;
}

.copy__popup.active,
.save__popup.active,
.library__popup.active {
    transform: translateY(0rem);
}

/* Adjustment Popups */

.adjustment__active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.save__popup--input {
    font-size: 1.5rem;
    padding: 1rem;
}